<p id="notice"><%= notice %></p>

<div class="container"> 

<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Steve's Blog</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
</nav>	

<% if @articles.present? %>
  <%= render @articles %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %>

</div> 